@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #0a0a0f;
  color: #e2e8f0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
